body {
    background: #1b1b1b;
}

.workingField {
    border: 1px solid #cccccc;
    background: #f6f6f6;
    margin-top: 70px;
    padding-bottom: 40px;
}

.listEmployees {
    margin-top: 50px;
}

.bufferTable, .topBuffer {
    margin-top: 20px;
}

.table-filters{
    float: none;
    margin-left: 20px;
    font-size: 18px;
}

.filterStyle {
    width: 251px;
    height: 45px;
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 12px;
    padding-left: 20px;
    border: 1px solid #cccccc;

}

.buttonStyle {

    font-size: 14px;
    width: 177px;
    height: 45px;
    line-height: 5px;
    background: #ff4342;
    font-family: "Noto Sans", Arial, sans-serif;
    color: white;
    border-radius: 0;
}

.textFont {
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 34px;
    font-weight: 600;
}

.tableCaption {
    background: #ababab;
}

.field {
    clear: both;
    text-align: right;
    line-height: 25px;
    margin-top: 10px;
}

label {
    float: left;
    padding-right: 10px;

}

.modal-content {
    float: left;
    padding: 0px 40px 10px;
    border: 2px solid #363636;
    border-radius: 10px;
}

.alertField {
    box-shadow: 0 0 10px #ff1842;
}

.iRight {
    margin-right: 10px;
}

.flRight {
    float: right;
}

td, .employee {
    width: auto;
}

#captionEmployees {
    background: -moz-linear-gradient(#c7c7c7, #BDBDBD);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#c7c7c7), to(#BDBDBD));
}

#captionQuantity {
    width: 50%;
    float: right;
    margin-right: -20%;
}

p {
    margin: 0 63px;
    float: right;
}

.indentTable {
    margin-bottom: 20px;
}

.buttonDepartments {
    width: 100%;
    height: 40px;
    text-align: left;
    background: -moz-linear-gradient(#e4e4e4, #d5d5d5);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e4e4e4), to(#d5d5d5));
    border: none;
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 9px;
}

.imgDepart {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.employees {
    /*right: 100%;*/
    margin-left: 3%;

}

.employeesHidden{
    height: 0;
    overflow: hidden;
}

.employeesOpened {
    height: auto;
    overflow: visible;
    glyphicon : glyphicon-menu-down;
}

.border {
    background: white;
    border: 1px solid #cccccc;
    overflow: hidden;
}

td{
    width: inherit;
}

h4{
    margin: -2px 30px 10px;

}
.quantityEmployees{
    float: right;
}

.checkboxDepart{
margin-top: 3px;
    cursor:pointer;
    width:19px;
    height:19px;
}

img{
    float: left;

}